
img{
	width: 20%;
}



#cabeza{
	
	margin: auto;
    
}

#escudoValencia{

	text-align: left;
	
}

#valencia{
	
	vertical-align: top;
	padding-top: 22px;
	padding-left: 120px;
	
}

#resultadoValencia{
	
	vertical-align: top;
	font-size: 60px;
	padding-left: 10px;
	padding-right: 10px;
	
	
	
}

#raya{
	
	border-left: 1px solid gray;
	//width: 1%;
	
}

#resultadoJuventus{
	
	vertical-align: top;
	font-size: 60px;
	padding-left: 7px;
	
}

#juventus{
	
	vertical-align: top;
	padding-top: 22px;
	padding-left: 10px;
}

.goleador th{
	
	margin: auto;
	width: 18.3%;
}

#escudoJuventus{
	
	text-align: right;
	padding-left: 150px;
}

#color{
	
	color:black;
	
}

#color:hover {

	color: orange;
}





#pie{
	
	margin: auto;
	width: 15%;
}